[submodule "libscail"]
	path = libscail
	url = https://github.com/multifacet/libscail.git
[submodule "bmks/YCSB"]
	path = bmks/YCSB
	url = https://github.com/brianfrankcooper/YCSB.git
[submodule "bmks/memcached"]
	path = bmks/memcached
	url = https://github.com/memcached/memcached.git
